.banner {
 
    background: radial-gradient(circle, #2b5876, #4e4376, #2b5876);
 
 
    background-size: cover;
 
    height: 100vh;
 
    padding-top:40px;
 
  }
.lead{
    color:white;
    font-family:"Roboto";
    font-size: 19px;
}
 