
<h1>Edit Internship</h1>
<button type="button" (click)="backbutton()">Back</button>
<form #editInternshipForm="ngForm" (ngSubmit)="editAdminInternship()" novalidate>
  <label for="title">Title: <span class="required"  style="color: red;" >*</span></label><br>
  <input type="text" id="title" [(ngModel)]="internship.Title" name="Title" required>
  <div *ngIf="editInternshipForm.controls['Title']?.invalid && (editInternshipForm.controls['Title']?.dirty || editInternshipForm.controls['Title']?.touched)">
    <small class="error-message">Title is required.</small>
  </div><br><br>

  <label for="companyName">Company Name: <span class="required" style="color: red;">*</span></label><br>
  <input type="text" id="companyName" [(ngModel)]="internship.CompanyName" name="CompanyName" required>
  <div *ngIf="editInternshipForm.controls['CompanyName']?.invalid && (editInternshipForm.controls['CompanyName']?.dirty || editInternshipForm.controls['CompanyName']?.touched)">
    <small class="error-message">Company Name is required.</small>
  </div><br><br>

  <label for="location">Location: <span class="required" style="color: red;" >*</span></label><br>
  <input type="text" id="location" [(ngModel)]="internship.Location" name="Location" required>
  <div *ngIf="editInternshipForm.controls['Location']?.invalid && (editInternshipForm.controls['Location']?.dirty || editInternshipForm.controls['Location']?.touched)">
    <small class="error-message">Location is required.</small>
  </div><br><br>

  <label for="durationInMonths">Duration (Months): <span class="required" style="color: red;">*</span></label><br>
  <input type="number" id="durationInMonths" [(ngModel)]="internship.DurationInMonths" name="DurationInMonths" required>
  <div *ngIf="editInternshipForm.controls['DurationInMonths']?.invalid && (editInternshipForm.controls['DurationInMonths']?.dirty || editInternshipForm.controls['DurationInMonths']?.touched)">
    <small class="error-message">Duration is required.</small>
  </div><br><br>

  <label for="stipend">Stipend: <span class="required" style="color: red;">*</span></label><br>
  <input type="number" id="stipend" [(ngModel)]="internship.Stipend" name="Stipend" required>
  <div *ngIf="editInternshipForm.controls['Stipend']?.invalid && (editInternshipForm.controls['Stipend']?.dirty || editInternshipForm.controls['Stipend']?.touched)">
    <small class="error-message">Stipend is required.</small>
  </div><br><br>

  <label for="description">Description: <span class="required" style="color: red;">*</span></label><br>
  <textarea id="description" [(ngModel)]="internship.Description" name="Description" required></textarea>
  <div *ngIf="editInternshipForm.controls['Description']?.invalid && (editInternshipForm.controls['Description']?.dirty || editInternshipForm.controls['Description']?.touched)">
    <small class="error-message">Description is required.</small>
  </div><br><br>

  <label for="skillsRequired">Skills Required: <span class="required" style="color: red;">*</span></label><br>
  <input type="text" id="skillsRequired" [(ngModel)]="internship.SkillsRequired" name="SkillsRequired" required>
  <div *ngIf="editInternshipForm.controls['SkillsRequired']?.invalid && (editInternshipForm.controls['SkillsRequired']?.dirty || editInternshipForm.controls['SkillsRequired']?.touched)">
    <small class="error-message">Skills Required is required.</small>
  </div><br><br>

  <label for="applicationDeadline">Application Deadline: <span class="required" style="color: red;">*</span></label><br>
  <input type="date" id="applicationDeadline" [(ngModel)]="internship.ApplicationDeadline" name="ApplicationDeadline" required>
  <div *ngIf="editInternshipForm.controls['ApplicationDeadline']?.invalid && (editInternshipForm.controls['ApplicationDeadline']?.dirty || editInternshipForm.controls['ApplicationDeadline']?.touched)">
    <small class="error-message">Application Deadline is required.</small>
  </div><br><br>

  <button type="submit" [disabled]="editInternshipForm.invalid">Update</button>
  <button type="button" (click)="backbutton()">Back</button>
 </form> 

<div *ngIf="showModal" class="modal">
  <div class="modal-content">
    <span class="close" (click)="closeModal()">&times;</span>
    <p>{{ errorMessage }}</p>
    <button class="ok-button" (click)="closeModal()">OK</button>
  </div>
</div> 
