/* You can add global styles to this file, and also import other style files */
body {
   /* <!-- background: radial-gradient(circle, #2b5876, #4e4376, #2b5876);--> */
    background-size: 150% 150%; /* Adjusted size to cover the section fully */
    background-repeat: no-repeat; /* Ensures no repetition of the pattern */
    animation: gradientAnimation 10s ease infinite;
  }