<nav>
    <div class="title">INTERNSHIP APPLICATION SYSTEM</div>
    <ul>
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/about-us">About Us</a></li>
      <li (mouseenter)="showSubmenu = true" (mouseleave)="showSubmenu = false">
        <a routerLink="/internships">Internships</a>
        <ul *ngIf="showSubmenu" (mouseenter)="showSubmenu = true" (mouseleave)="showSubmenu = false">
          <li><a routerLink="/add-internship">Add Internship</a></li>
          <li><a routerLink="/viewinternship">View Internship</a></li>
        </ul>
      </li>
      <li><a routerLink="/internship-requested">Internship Requested</a></li>
      <li><a routerLink="/feedback">Feedback</a></li>
      <li><a routerLink="/admin-settings">Admin Settings</a></li>
    </ul>
    <div>
      Logged in as: {{username}} ({{role}})
      <button (click)="logout()">Logout</button>
    </div>
  </nav>
  