<nav>
  <div class="title">INTERNSHIP APPLICATION SYSTEM</div>
  <ul>
    <li><a routerLink="/home">Home</a></li>
    <li><a routerLink="admin/about-us">About Us</a></li>
    <li (mouseenter)="showSubmenu = true" (mouseleave)="showSubmenu = false">
      <a routerLink="admin/internships">Internships</a>
      <ul *ngIf="showSubmenu" (mouseenter)="showSubmenu = true" (mouseleave)="showSubmenu = false">
        <li><a routerLink="admin/createinternship">Add Internship</a></li>
        <li><a routerLink="admin/viewinternship">View Internship</a></li>
      </ul>
    </li>
    <li><a routerLink="admin/requestedinternship">Internship Requested</a></li>
    <li><a routerLink="admin/feedback">Feedback</a></li>
  </ul>
  <div>
    Logged in as: {{username}} {{role}}
    <button (click)="logout()">Logout</button>
  </div>
</nav>