.brand{
  display:flex;
  flex-direction: flex-start;
}
.user-navbar-container {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /*background-color: #fff;*/
  padding:5px;
  border-radius: 16px;
  /*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);*/
  text-align: center;
}

.user-navbar-container h1 {
  margin-bottom: 10px;
  font-size: 25px;
  color: white;
}
#nav-brand{
    text-align:left;
}
.user-navbar {
  display: flex;
  flex-direction:row;
  justify-content:flex-end;
  /*justify-content: center;*/
  flex-wrap: wrap;
  gap: 20px;
  /*background-color: #f4f4f4;*/
  padding:3px;
  border-radius:8px;
}

.user-navbar button,
.user-navbar a {
  color: #2b5876;
  border: none;
  padding: 10px 16px;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.user-navbar button:hover,
.user-navbar a:hover {
  background-color: #357ab8;
}



.dropdown {
  position: relative;
  display: inline-block;
}



.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
  /*background-color: #fff;*/
  /* border: 1px solid #ccc; */
  border-radius: 6px;
  top: 100%;
  left: 0;
}

.dropdown-content a {
  display: block;
  padding: 10px 16px;
  color: #333;
  /*background-color: #fff;*/
  text-align: left;
}

.dropdown-content a:hover {
  /*background-color: #f1f1f1;*/
  color: #000;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.logout-btn {
  color: #2b5876;
}

.logout-btn:hover {
  background-color: #c0392b;
}
