
<div class="container">
   
    <form (ngSubmit)="onSubmit()" #internshipForm="ngForm">
      <div class="form-group">
        <label for="universityName">University Name:<span class="required">*</span></label>
        <input type="text" id="universityName" name="universityName" [(ngModel)]="application.UniversityName" required>
      </div>
      <div class="form-group">
        <label for="degreeProgram">Degree Program:<span class="required">*</span></label>
        <input type="text" id="degreeProgram" name="degreeProgram" [(ngModel)]="application.DegreeProgram" required>
      </div>
      <div class="form-group">
        <label for="linkedInProfile">LinkedIn Profile (optional):</label>
        <input type="text" id="linkedInProfile" name="linkedInProfile" [(ngModel)]="application.LinkedInProfile">
      </div>
      <div class="form-group">
        <label for="resume">Resume:<span class="required">*</span></label>
        <input type="file" id="resume" name="resume" (change)="onFileChange($event)" accept=".txt" required>
        <span *ngIf="!application.Resume">No file chosen</span>
        <!-- <span *ngIf="application.Resume">{{ application.Resume }}</span> -->
      </div>
      <button type="submit" [disabled]="!internshipForm.form.valid">Submit</button>
      <button type="button" (click)="goBack()">Back</button>
    </form>
  </div>
 
  
