 
     
h2{
    padding:22px;
    text-align: center;
    color: forestgreen;
}
.description{
    text-align:center;
    font-family:"Roboto";
    font-size:medium;
    color: white;
}
 
/*  */
.banner {
 
    background: radial-gradient(circle, #2b5876, #4e4376, #2b5876);
 
 
    background-size: cover;
 
    height: 100vh;
 
    padding-top:40px;
 
  }
 /* <section class="stats_Counts text-center p-3 mb-2" aria-label="Statistics">
            <div class="row">
                <div class="stats_width50 col-sm-6 col-md-3">
                    <p>Scholarships</p>
                    <div class="stats_mainTitle">
                        <div><span id="scholarships">0</span>+</div>
                    </div>
                </div>
                <div class="stats_width50 col-sm-6 col-md-3">
                    <p>Students</p>
                    <div class="stats_mainTitle">
                        <div><span id="students">0</span>+</div>
                    </div>
                </div>
                <div class="stats_width50 col-sm-6 col-md-3">
                    <p>Students Helped</p>
                    <div class="stats_mainTitle">
                        <div><span id="studentsHelped">0</span>+</div>
                    </div>
                </div>
                <div class="stats_width50 col-sm-6 col-md-3">
                    <p>Fund Managed</p>
                    <div>₹<span id="fundManaged">0</span>Cr</div>
                </div>
            </div>
        </section>
    </div>

  */

    
  