
<div>
        <h2>Internship Application System</h2>
        <p class="description">"The Internship Application System is designed to connect students and employers with key
                internship opportunities across various industries.
                <br>
                This system enables students to participate in well-defined internships, support skills, strengths, and
                capabilities of students,
                <br>
                making it easier for employers to find suitable trainees.
                It ensures an application process that is user-friendly, professional, and efficient."
        </p>
</div>