<div class="container">
  <h1>Internship Listings</h1>
  <div class="search-bar">
    <input type="text" placeholder="Search by CompanyName or Location" [(ngModel)]="searchTerm" />
    <button (click)="search()">Search</button>
  </div>
  <table>
    <thead>
      <tr>
        <th>S.No</th>
        <th>Title</th>
        <th>Company Name</th>
        <th>Location</th>
        <th>Duration (months)</th>
        <th>Stipend</th>
        <th>Application Deadline</th>
        <th>Skills Required</th>
        <th>Description</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let internship of internships; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ internship.Title }}</td>
        <td>{{ internship.CompanyName }}</td>
        <td>{{ internship.Location }}</td>
        <td>{{ internship.DurationInMonths }}</td>
        <td>{{ internship.Stipend }}</td>
        <td>{{ internship.ApplicationDeadline }}</td>
        <td>{{ internship.SkillsRequired }}</td>
        <td style="width: 200px;">{{ internship.description }}</td>
        <td>
          <button id="edit" (click)="editInternship(internship)">Edit</button>
          <button  id="delete" (click)="deleteInternship(internship.InternshipId)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>


