.container {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Ensure the container takes at least the full viewport height */
  width: 100%;
}

.card {
  border-radius: 15px; /* Rounded corners for the card */
  width: 100%;
  max-width: 500px; /* Limit the maximum width of the card */
  height: auto; /* Allow the card to adjust its height based on content */
}

.card-header {
  background-color: #007bff; /* Primary blue color */
  color: white;
  border-radius: 15px 15px 0 0; /* Rounded top corners */
  padding: 1.5rem;
}

.card-header h1 {
  margin-bottom: 2px;
  font-size: 2rem;
  font-weight: 500;
}

.card-body {
  padding: 1rem;
}

.form-group {
  margin-bottom: 1.5rem;
}

label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block; /* Ensure label takes full width */
}

.form-control {
  border-radius: 8px; /* Rounded corners for input fields */
  border: 1px solid #ced4da;
  padding: 0.75rem 1rem;
  font-size: 1rem;
}

.form-control:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.input-group > .form-control {
  border-radius: 8px 0 0 8px; /* Left rounded corners for input in input group */
}

.input-group-append > .input-group-text {
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  color: #495057;
  border-radius: 0 8px 8px 0; /* Right rounded corners for text in input group