body {
    background: radial-gradient(circle, #2b5876, #4e4376, #2b5876);
   
  }
   
  .rounded-form {
    border-radius: 15px;
    background-color:transparent;
   
  }
   
  .card {
    border-radius: 15px;
    width:590px;
   
      background-color: rgba(255, 255, 255, 0.5); /* 50% transparent white */
   
  }
   
  .card-header {
    color:#2b5876;
    border-radius: 13px 13px 15px 15px;
  }
   
  .card-body {
    padding:10px;
  }
   
  .form-group {
    margin-bottom: 15px;
  }
   
  .input-group-text {
    cursor: pointer;
  }
   
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }
   
  .btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
  }
   
  .text-danger {
    font-size: 0.875em;
  }
   
  .required {
    color: red;
  }
   