
  <section>
  <div class="create-class-container">
   
    <form #internform="ngForm" (ngSubmit)="addInternship(internform)">
      <div class="form-group">
        <label for="Title">Title <span class="required">*</span></label>
        <input type="text" id="Title" name="Title" [(ngModel)]="internship.Title" required minlength="1" maxlength="50" (blur)="validateField(internform, 'Title')">
        <div *ngIf="internform.submitted || internform.controls.ClassName?.dirty">
          <div *ngIf="internform.controls.Title?.errors?.required" class="error">Title is required</div>
          <div *ngIf="internform.controls.ClassName?.errors?.maxlength" class="error">Title must be less than 50 characters</div>
        </div>
      </div>
      <div class="form-group">
        <label for="CompanyName">Company Name <span class="required">*</span></label>
        <input type="text" id="CompanyName" name="CompanyName" [(ngModel)]="internship.CompanyName" required minlength="1" maxlength="30" (blur)="validateField(internform, 'CompanyName')">
        <div *ngIf="internform.submitted || internform.controls.CompanyName?.dirty">
          <div *ngIf="internform.controls.CompanyName?.errors?.required" class="error">Company Name is required</div>
          <div *ngIf="internform.controls.CompanyName?.errors?.maxlength" class="error">Company Name must be less than 30 characters</div>
        </div>
      </div>
     
      <div class="form-group">
        <label for="Location">Location <span class="required">*</span></label>
        <input type="text" id="Location" name="Location" [(ngModel)]="internship.Location" required minlength="1" maxlength="100" (blur)="validateField(internform, 'Location')">
        <div *ngIf="internform.submitted || internform.controls.Location?.dirty">
          <div *ngIf="internform.controls.Location?.errors?.required" class="error">Location is required</div>
          <div *ngIf="internform.controls.Location?.errors?.maxlength" class="error">Location must be less than 100 characters</div>
        </div>
      </div>
      <div class="form-group">
        <label for="DurationInMonths">Duration (Months) <span class="required">*</span></label>
        <input type="number" id="DurationInMonths" name="DurationInMonths" [(ngModel)]="internship.DurationInMonths" required min="1"maxlength="200" (blur)="validateField(internform, 'DurationInMonths')">
        <div *ngIf="internform.submitted || internform.controls.DurationInMonths?.dirty">
          <div *ngIf="internform.controls.DurationInMonths?.errors?.required" class="error">Duration is required</div>
          <div *ngIf="internform.controls.DurationInMonths?.errors?.min" class="error">Duration must be greater than 0 months</div>
        </div>
      </div>
      <div class="form-group">
        <label for="Stipend">Stipend <span class="required">*</span></label>
        <input type="number" id="Stipend" name="Stipend" [(ngModel)]="internship.Stipend" required min="0" (blur)="validateField(internform, 'Stipend')">
        <div *ngIf="internform.submitted || internform.controls.Stipend?.dirty">
          <div *ngIf="internform.controls.Stipend?.errors?.required" class="error">Stipend is required</div>
          <div *ngIf="internform.controls.Stipend?.errors?.min" class="error">Stipend must be a positive number</div>
        </div>
      </div>
      <div class="form-group">
        <label for="Description">Description<span class="required">*</span></label>
        <input type="text" id="Description" name="Description" [(ngModel)]="internship.Description" required minlength="1" maxlength="200" (blur)="validateField(internform, 'Description')">
        <div *ngIf="internform.submitted || internform.controls.Description?.dirty">
          <div *ngIf="internform.controls.Description?.errors?.required" class="error">Description is required</div>
          <div *ngIf="internform.controls.Description?.errors?.maxlength" class="error">Description must be less than 200 characters</div>
        </div>
      </div>
      <div class="form-group">
        <label for="">Skills Required <span class="required">*</span></label>
        <input type="text" id="SkillsRequired" name="SkillsRequired" [(ngModel)]="internship.SkillsRequired" required minlength="1" maxlength="200" (blur)="validateField(internform, 'SkillsRequired')">
        <div *ngIf="internform.submitted || internform.controls.SkillsRequired?.dirty">
          <div *ngIf="internform.controls.SkillsRequired.errors?.required" class="error">Skills are required</div>
          <div *ngIf="internform.controls.SkillsRequired.errors?.maxlength" class="error">Skills must be less than 200 characters</div>
        </div>
        </div>
        <div class="form-group">
          <label for="ApplicationDeadline">Application Deadline <span class="required">*</span></label>
          <input type="date"
            id="ApplicationDeadline"
            name="ApplicationDeadline"
            [(ngModel)]="internship.ApplicationDeadline"
            [min]="currentDate"
            required
            minlength="1"
            maxlength="200"
            (blur)="validateField(internform, 'ApplicationDeadline')">
          <div *ngIf="internform.submitted || internform.controls.ApplicationDeadline?.dirty">
            <div *ngIf="internform.controls.ApplicationDeadline?.errors?.required" class="error">Deadline is required</div>
            <div *ngIf="internform.controls.ApplicationDeadline?.errors?.maxlength" class="error">Deadline must be less than 200 characters</div>
            <div *ngIf="internship.ApplicationDeadline < currentDate" class="error">
              Deadline cannot be a past date
            </div>
          </div>
        </div>
       
      <button type="submit">Submit</button>
      <div class="form-validation-message">
        <p *ngIf="message" [ngClass]="{'error': message.includes('Error'), 'success': message.includes('Success')}">{{ message }}</p>
      </div>
    </form>
   
    <div *ngIf="showModal" class="modal">
      <div class="modal-content">
        <span class="close" (click)="closeModal()">&times;</span>
        <p>{{ message }}</p>
        <button class="ok-button" (click)="closeModal()">OK</button>
      </div>
    </div>
  </div>
</section>
   
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">
 